<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <script src="https://kit.fontawesome.com/677e68d0e7.js" crossorigin="anonymous"></script>
    <title>PROJECTS</title>
</head>

<body>
    <div class="base - container">
        <nav>
            <img src="public/img/logo.svg">
            <ul>
                <li>
                    <a href="#" class="button">The Team</a>
                    <i class="fa-solid fa-people-group"></i>
                </li>
                <li>
                    <a href="#" class="button">Treatments</a>
                    <i class="fa-solid fa-file-medical"></i>
                </li>
                <li>
                    <a href="#" class="button">Prices</a>
                    <i class="fa-solid fa-money-bill"></i>
                </li>
                <li>
                    <a href="#" class="button">Our Clinic</a>
                    <i class="fa-solid fa-house-medical-flag"></i>
                </li>
                <li>
                    <a href="#" class="button">Book Online</a>
                    <i class="fa-solid fa-calendar-days"></i>
                </li>
                <li>
                    <a href="#" class="button">Log Out</a>
                    <i class="fa-solid fa-right-from-bracket"></i>
                </li>
            </ul>
        </nav>
        <main>
            <h1>
                Contact
                <i class="fa-solid fa-address-book"></i>
            </h1>
            <p>
                Email:
                    hyperdenticaclinic@gmail.com
    
            </p>
             
            <p>
                Telephone:
                    093213423
            </p>
            <p>
                Address:
                    77 Heaven Street
                    Nowy Sacz City
                    Postcode: 33-300, Nowy Sacz     
            </p>    
        </main>
    </div>
</body>