body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #008395 0%, #0BE1AC 100%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%;
    text-align: center;
}

.login-container {
    width: 50%;
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;

    background: #FFFFFF;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    border-radius: 70px;
}

button {
    background: linear-gradient(180deg, #008395 55.73%, #0ADEAB 100%);
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    border-radius: 70px;

    width: 60%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 50%;
}

@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }

    * {
        font-size: 36px;
    }

    .login-container, .logo {
        width: 100%;
    }

    form {
        margin: auto;
    }

    img {
        height: 15em;
        margin: 2em;
    }
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 11vw;
    height: 100vh;
    background: linear-gradient(180deg, #008395 0%, #0BE1AC 100%);
}
.first-half-home{
    margin-left: 10vw;
    width: 30vw;
    display: flex;
    gap: 3vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.first-half-home > img{
   width: 20vw;
    margin-bottom: 2vh;
}

.home-element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw
}

.home-element > i, .home-last-element > i{
    color: white;
    font-size: 2.5em;
}

.home-last-element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    gap: 1vw;

}

.home-element > a, .home-last-element > a{
    width: 20vw;
    height: 7vh;
    color: #008395;
    background: #FFFFFF;
    letter-spacing: 0.7px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    font: normal normal normal 1.5em Segoe UI;
    font-weight: bold;
}


a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}


.button {
    background: #FFFFFF;
    border-radius: 1em;
    text-align: center;
    letter-spacing: 0.7px;
    color: #008395;
    width: 60%;
    height: 6vh;
}


header {
    font: normal normal normal 1.7em Segoe UI;
    text-align: center;
    font-weight: bold;
}

p {
    font: normal normal normal 1.5em Segoe UI;
    color: #008395;
}

.contact-3element {
    margin-bottom: 1.3em;
}

@media only screen and (max-device-width: 420px) {
}


.main-prices2-1, .main-prices-1, .main-treatments-1, .main-team-1{
    background: linear-gradient(180deg, #008395 55.73%, #0ADEAB 100%);
    width: 100vw;
    height: 100vh;
}
.top-prices2, .top-prices{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15vw;
    height: 9vh;
    width: 100vw;
}

.top-prices2{
    gap: 5vw;
}

.top-treatments{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 21vw;
    height: 9vh;
    width: 100vw;
}

.mid-team{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    width: 90vw;
}


.top-prices2 > img, .top-prices > img {
    margin-top: 3vh;
    margin-left: 1vh;
    width: 6vw;
}

.top-treatments > img{
    margin-top: 6vh;
    width: 8vw;
}

.mid-team > img{
    width: 8vw;
}

.top-treatments > a{
    width: 10vw;
    height: 7vh;
    color: #008395;
    background: #FFFFFF;
    letter-spacing: 0.7px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    font: normal normal normal 1.5em Segoe UI;
    font-weight: bold;
    margin-top: 3vh;

}

.mid-team > a{
    width: 10vw;
    height: 7vh;
    color: #008395;
    background: #FFFFFF;
    letter-spacing: 0.7px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    font: normal normal normal 1.5em Segoe UI;
    font-weight: bold;
}


.top-prices2 > a, .top-prices > a {
    width: 10vw;
    height: 7vh;
    color: #008395;
    background: #FFFFFF;
    letter-spacing: 0.7px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    font: normal normal normal 1.5em Segoe UI;
    font-weight: bold;
    margin-top: 3vh;
}

.prices-previous-button >a {
    width: 15vw;
    height: 7vh;
    color: #008395;
    background: #FFFFFF;
    letter-spacing: 0.7px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    font: normal normal normal 1.5em Segoe UI;
    font-weight: bold;
    margin-top: 3vh;
}
.main-prices2-2, .main-prices-2{
    display: flex;
    flex-direction: row;
    gap: 6vw;
}

.main-team-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.first-column, .second-column{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
    align-content: center;
}

.main-treatments-2 {
    display: flex;
    flex-direction: row;
    gap: 10vw;
}

.first-dentist, .second-dentist, .third-dentist, .fourth-dentist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-dentist > p, .second-dentist > p, .third-dentist > p, .fourth-dentist > p{
    width: 20vw;
    height: 7vh;
    color: white;
    background: linear-gradient(180deg, #008395 55.73%, #0ADEAB 100%);
    letter-spacing: 0.7px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    border-radius: 5em;
    font: normal normal normal 1.5em Segoe UI;
}



.dentist1 > a > img, .dentist2 > a >  img, .dentist3 > a > img, .dentist4 > a > img {
    width: 25vw;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    border-radius: 5em;
}

.treatments-left-side > .dentist1-img > img{
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    border-radius: 5em;
}

.first-half-prices2, .first-half-prices {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
    margin-left: 7vw;
}

.second-half-prices2, .second-half-prices {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
    margin-right: 7vw;
}

.first-treatments {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 20vw;
    margin-left: 10vw;
}

.cosmetic > img, .general > img, .braces2 > img {
    width: 18vw;
    border-radius: 4em;
    margin-top: 2.2vh;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
}

.cosmetic > a, .general > a, .braces2 > a, .hygiene > a {
    color: #008395;
    background: #FFFFFF;
    letter-spacing: 0.7px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    font: normal normal normal 1.5em Segoe UI;
    font-weight: bold;
    height: 6vh;
}

.second-treatments {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 20vw;
}

.third-treatments {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 20vw;
}

.cosmetic, .general {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    margin-top: 7vh;
    width: 40vw;
    margin-bottom: 5vh;
}

.hygiene {
    width: 40vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    margin-top: 7vh;
    margin-bottom: 4vh;
}

.braces2 {
    width: 40vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    margin-bottom: 5vh;
}

.implants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 4em;
    letter-spacing: 0.7px;
    color: #008395;
    height: 41vh;
    margin-bottom: 4vh;
    margin-top: 2vh;

}

.implants > header {
    background: linear-gradient(180deg, #008395 55.73%, #0ADEAB 100%);
    width: 15vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    color: white;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    margin-bottom: 1.5vh;
}

.whitening {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 4em;
    letter-spacing: 0.7px;
    height: 26vh;
    color: #008395;
    margin-bottom: 2vh;
}

.whitening > header {
    background: linear-gradient(180deg, #008395 55.73%, #0ADEAB 100%);
    width: 25vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    color: white;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    margin-bottom: 1.5vh;
}

.braces {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    height: 26vh;
    border-radius: 4em;
    letter-spacing: 0.7px;
    color: #008395;
    margin-bottom: 2vh;
}

.braces > header {
    background: linear-gradient(180deg, #008395 55.73%, #0ADEAB 100%);
    width: 15vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    color: white;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    margin-bottom: 1.5vh;
}

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 4em;
    letter-spacing: 0.7px;
    height: 33vh;
    color: #008395;
    margin-bottom: 2vh;
}

.root > header {
    background: linear-gradient(180deg, #008395 55.73%, #0ADEAB 100%);
    width: 25vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    color: white;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    margin-bottom: 1.5vh;
}

.crowns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 4em;
    letter-spacing: 0.7px;
    color: #008395;
    height: 37vh;
}

.crowns > header {
    background: linear-gradient(180deg, #008395 55.73%, #0ADEAB 100%);
    width: 27vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    color: white;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    margin-bottom: 1.5vh;
}

p {
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
}

.dental {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 4em;
    letter-spacing: 0.7px;
    height: 26vh;
    color: #008395;
    margin-bottom: 2vh;
    margin-top: 5vh;
}

.dental > header {
    background: linear-gradient(180deg, #008395 55.73%, #0ADEAB 100%);
    width: 25vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    color: white;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    margin-bottom: 1.5vh;
}

.hygienist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 4em;
    letter-spacing: 0.7px;
    height: 26vh;
    color: #008395;
    margin-bottom: 2vh;
}

.hygienist > header {
    background: linear-gradient(180deg, #008395 55.73%, #0ADEAB 100%);
    width: 25vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    color: white;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    margin-bottom: 1.5vh;
}

.cosmetic > header, .general > header, .hygiene > header {
    background: linear-gradient(180deg, #008395 55.73%, #0ADEAB 100%);
    width: 20vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    color: white;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    margin-bottom: 1vh;
}


.braces2 > header {
    background: linear-gradient(180deg, #008395 55.73%, #0ADEAB 100%);
    width: 20vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    color: white;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);

}

.x-rays {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 4em;
    letter-spacing: 0.7px;
    height: 26vh;
    color: #008395;
    margin-bottom: 4vh;
}

.x-rays > header {
    background: linear-gradient(180deg, #008395 55.73%, #0ADEAB 100%);
    width: 25vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    color: white;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    margin-bottom: 1.5vh;
}

.composite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 4em;
    letter-spacing: 0.7px;
    height: 26vh;
    color: #008395;
    margin-bottom: 3vh;
}

.composite > header {
    background: linear-gradient(180deg, #008395 55.73%, #0ADEAB 100%);
    width: 25vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    color: white;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    margin-bottom: 1.5vh;
}

.extraction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 4em;
    letter-spacing: 0.7px;
    height: 26vh;
    color: #008395;
    margin-bottom: 3vh;
}

.extraction > header {
    background: linear-gradient(180deg, #008395 55.73%, #0ADEAB 100%);
    width: 25vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    color: white;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    margin-bottom: 1.5vh;
}

.bridges {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 4em;
    letter-spacing: 0.7px;
    height: 19vh;
    color: #008395;
    margin-bottom: 4vh;
}

.bridges > header {
    background: linear-gradient(180deg, #008395 55.73%, #0ADEAB 100%);
    width: 25vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    color: white;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    margin-bottom: 1.5vh;
}

.second-half-prices > a {
    width: 12vw;
    height: 7vh;
    color: #008395;
    background: #FFFFFF;
    letter-spacing: 0.7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7em;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    font: normal normal normal 1.5em Segoe UI;
    font-weight: bold;
    margin-left: 14vw;
    margin-right: 14vw;
    margin-bottom: 3vh;
}

.registration-container {
    width: 50%;
}

form.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    border-radius: 70px;
}

.bridges-page, .bridges-page, .canal-page, .check-page, .crowns-page, .damon-page, .fillings-page, .hygienist-page, .implants-page, .invisalign-page, .veneers-page, .whitening-page, .dentist1-page{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #008395 0%, #0BE1AC 100%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bridges-page > img, .canal-page > img, .check-page > img, .crowns-page > img, .damon-page > img, .fillings-page > img, .hygienist-page > img, .implants-page > img, .invisalign-page > img, .veneers-page > img, .whitening-page > img {
    width: 25vw;
    text-align: center;
    margin-left: 5vw;
    margin-right: 2vw;
}

.treatments-left-side > img, .treatments-left-side > .dentist1-img > img{
    width: 25vw;
    text-align: center;
    margin-left: 5vw;
    margin-right: 2vw;
    margin-bottom: 17vh;
}

.treatments-left-side>a{
    width: 15vw;
    height: 7vh;
    color: #008395;
    background: #FFFFFF;
    letter-spacing: 0.7px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    font: normal normal normal 1.5em Segoe UI;
    font-weight: bold;
    margin-left: 10vw;
    margin-bottom: 17vh;
}

.about-bridges, .about-canal, .about-check, .about-crowns, .about-damon, .about-fillings, .about-hygienist, .about-implants, .about-invisalign, .about-veneers, .about-whitening, .about-dentist1 {
    width: 60vw;
    height: 73vh;
    text-align: justify;
    background: white;
    border-radius: 3em;
    margin-left: 3vw;
    margin-right: 5vw;

}

.about-veneers{
    height: 80vh;
}

.about-whitening{
    height: 93vh;
}

.about-implants{
    height: 84vh;
}

.about-check{
    height: 55vh;
}

.about-crowns{
    height: 67vh;
}

.about-fillings{
    height: 76vh;
}

.about-canal{
    height: 76vh;
}

.about-hygienist{
    height: 85vh;
}

.about-damon{
    height: 83vh;
}

.about-invisalign{
    height: 62vh;
}

.about-dentist1{
    height: 52vh;
}

.about-bridges > header, .about-damon > header, .about-check > header, .about-veneers > header, .about-whitening > header, .about-canal > header, .about-crowns > header, .about-implants > header, .about-invisalign > header, .about-hygienist > header, .about-fillings > header, .about-dentist1 > header {
    color: white;
    font-size: 3em;
    background: #008395;
    border-radius: 2em;
    height: 10vh;

}

.bridges-text, .damon-text, .check-text, .canal-text, .crowns-text, .fillings-text, .hygienist-text, .implants-text, .invisalign-text, .veneers-text, .whitening-text, .dentist1-text {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 3vh;
}

.contact-box{
    background: white;
    width: 38vw;
    height: 67vh;
    color: #008395;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.8);
    border-radius: 5em;
}

.contact-box>header{
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.contact-elements{
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1vh;
}

.ma

